body {
  max-width: 1600px;
  margin: 0 auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: grey;
  }  
.imagen {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: white;
}
.titulo {
  grid-column: 1/3;
  grid-row: 1/2;
  align-self: center;
  text-align: center;
  font-size: 5em;
}
.parrafo {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  text-align: center;
  font-size: 5em;
  color: brown;
}