
/* My colors palett 🥰
azul: #2D7FC9;
negro: #000000;
naranja: #EE3224;
blaco: #ffffff;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: Oswald, Helvetica, sans-serif;
}
p {
    font-family: Open sans, Helvetica, sans-serif;
}
h2 {
    margin: 0;
}
h4 {
    color: #000000;
}
/* Esto es para alinear el div donde va a estar guardado todo el body*/
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
body {
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
}
header {
    background-color: #ffffff;
}
/* Element Alignment */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
/* Algunos ajustes para el logo*/
#logo_link {   
    padding-top: 5px;
}
/* Ajustes de la barra de navegacion */
nav a:hover {
    background-color: #EE3224;
    color: #ffffff;
}
nav a {
    background-color: #ffffff;
    text-align: center;
    color: #EE3224;
    text-decoration: none;
    font-family: Oswald, Helvetica, sans-serif;
    padding: 35px;
}
/* Ajustes para la imagen hero*/
#hero-img {
    width: 100%;
}
/* Ajustes del titulo despues de la imagen hero*/
#home-title {
    background-color: #2D7FC9;
    color: #ffffff;
    font-size: 2m;
    margin-top: 10px;
}
/* Esta es una caja que contine la imagen*/
#background {
    height: 725px;
    background-color: #EE3224; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #EE3224, #ffffff);
    margin: 200px 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
/* Color de los botones*/
.book, .join {
    background-color: #2D7FC9;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #ffffff;
    color: #2D7FC9;
    border-radius: 5px;
}
/* Esto es el parrafo que esta coloreado*/
.msg {
    background-color: #2D7FC9;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    background-color: #2D7FC9;
    color: #ffffff;
}
.msg p {
    background-color: #2D7FC9; 
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}
/* Ajustes del footer*/
footer {
    background-color: #ffffff;
    color: #EE3224;
    padding: 25px 50px;
}
footer a {
    color: #000000;
    text-align: center;
    text-decoration: none;
    margin-top: 200px;
}
footer a:hover {
    color: #EE3224;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px; 
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #EE3224
}
main section img {
    box-sizing: border-box;
}
.mountains {
    margin-bottom: 100px;
}