
/* My colors palett 🥰
azul: #2D7FC9;
negro: #000000;
naranja: #EE3224;
blaco: #ffffff;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Helvetica, sans-serif;
}
p {
    font-family: 'Open sans', Helvetica, sans-serif;
}
h4 {
    color: #000000;
}
/* Esto es para alinear el div donde va a estar guardado todo el body*/
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: #ffffff;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgb(45, 127, 201, 0.6);
    display: grid;
    grid-template-columns: 150px auto;
}
/* Element Alignment */
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
/* Algunos ajustes para el logo*/
#logo_link {   
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* Ajustes de la barra de navegacion */
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #ffffff;
    color: #2D7FC9;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: "Oswald", Helvetica, sans-serif;
    padding: 35px;
}
/* Ajustes para la imagen hero*/
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
}
/* Ajustes del titulo despues de la imagen hero*/
.home-title {
    color: #EE3224;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
    font-size: 2em;
    margin-top: 10px;
}
/* Esta es una caja que contine la imagen*/
#background {
    height: 725px;
    background-color: #EE3224; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #EE3224, #ffffff);
    grid-column: 1/11;
    grid-row: 4/9;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
/* Color de los botones*/
.book, .join {
    background-color: #ffffff;
    color: #2D7FC9;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #2D7FC9;
    color: #ffffff;
    border-radius: 5px;
}
/* Esto es el parrafo que esta coloreado*/
.msg {
    background-color: #2D7FC9;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #000000;
}
.msg h2 {
    background-color: #2D7FC9;
    color: #ffffff;
}
.msg p {
    background-color: #2D7FC9; 
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}
/* Ajustes del footer*/
footer {
    background-color: #2D7FC9; /* For browsers that do not support gradients */
    background-image: linear-gradient(90deg, #2D7FC9, #ffffff);
    color: #000000;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #000000;
    text-decoration: none;
}
footer a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000, 0 0 1em #000000, 0 0 0.2em #000000;
}
footer p {
    font-size: 1.2em;
    text-align: center;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px; 
}
/*Ajustes de imagenes*/
.home-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
} 
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
} 
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #EE3224;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #000000;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000000;
}
/*Specific for the Trips Page Style*/
.trip-grid{
    display: grid;
    grid-template-columns: repeat(10,1fr);
}
.caption-msg {
    grid-column: 2/10;
    grid-row: 1/2;
    margin: 50px 0;
    color: #EE3224;
}
.caption-msg-2 {
    grid-column: 2/10;
    grid-row: 4/5;
    margin: 50px 0;
    color: #EE3224;
}
.river-essentials {
    grid-column: 6/11;
    grid-row: 5/11;
    padding: 20px;
    text-align: left;
}
.negrita {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.negrita:hover {
    color: #2D7FC9;
}
.image-essentials {
    grid-column: 1/6;
    grid-row: 5/11;
    padding: 20px;
    align-self: center;
}
.image-e {
    width: 100%;
}
.skykomish-card{
    margin: 50px 0;
    grid-column: 2/4;
    grid-row: 2/3;
} 
.leavenworth-card{
    margin: 50px 0;
    grid-column: 5/7;
    grid-row: 2/3;
} 
.wenatchee-card {
    margin: 50px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.more-button {
    background-color: #2D7FC9;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: Oswald, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.more-button:hover {
    background-color: #ffffff;
    color: #2D7FC9;
    border-radius: 5px;
}
/* Responsive design*/
@media screen and (max-width: 900px) {
    .book {
        background-color: #2D7FC9;
        color: #ffffff;
    }
    .book:hover {
        background-color: #ffffff;
        color: #2D7FC9;
    }
    header {
        background-color: #2D7FC9;
    } 
    #hero, .home-grid, .trip-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #ffffff;
    }
    .caption-msg h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    .caption-msg-2 h2 {
        font-size: 25px;
        padding-top: 30px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .skykomish-card, .leavenworth-card, .wenatchee-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        background-color: #EE3224; /* For browsers that do not support gradients */
        background-image: linear-gradient(90deg, #EE3224, #ffffff);
        margin-top: 25px;
    }
}