
/* My colors palett 🥰
azul: #2D7FC9;
negro: #000000;
naranja: #EE3224;
blaco: #ffffff;*/
/* Esto es para alinear el div donde va a estar guardado todo el body*/
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
body {
    background-color: #ffffff; 
}
header {
    background-color: #ffffff;
}
/* Algunos ajustes en la navegacion*/
nav a, #hero-msg h1, #hero-msg, h4, .button-box, main section {
    text-align: center;
}
/* Algunos ajustes para el logo*/
.logo {
    width: 80px;
}
/* Ajustes de la barra de navegacion */
nav a:hover {
    background-color: #EE3224;
    color: #ffffff;
}
nav a {
    background-color: #ffffff;
    text-align: center;
    color: #EE3224;
    text-decoration: none;
}
/* Ajustes para la imagen hero*/
#hero-img {
    width: 100%;
}
/* Ajustes del titulo despues de la imagen hero*/
.home-title {
    background-color: #2D7FC9;
    color: #ffffff; 
}
h4 {
    color: #000000;
}
/* Esta es una caja que va adentro de la imagen*/
#background {
    height: 725px;
    background-color: #2D7FC9;
}
.icon {
    width: 80px;
}
/* Color de los botones*/
.book, .join {
    background-color: #2D7FC9;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #ffffff;
    color: #2D7FC9;
}
/* Esto es el parrafo que esta coloreado*/
.msg {
    background-color: #2D7FC9; 
}
.msg h2 {
    background-color: #2D7FC9;
    color: #ffffff;
}
.msg p {
    background-color: #2D7FC9; 
    color: #ffffff;
}
/* Ajustes del footer*/
footer {
    background-color: #2D7FC9;
    color: #ffffff;
}
footer a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
footer a:hover {
    color: #000000;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}