@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap");
:root {
  --primary-color: #7899D4;
  --secondary-color: #000000;
  --accent1-color: #7272AB;
  --accent2-color: #ffffff;

  --heading-font: "Playfair Display";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  --headline-color-on-white: #000000;
  --headline-color-on-color: #ffffff; 
  --paragraph-color-on-white: #000000; 
  --paragraph-color-on-color: #ffffff;  
  --paragraph-background-color: #7899D4;
}
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border-radius:50%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}