#content {
    max-width: 1600px;
    margin: 0 auto;
  }
.imagen-cabecera {
    width: 100%;
}
.circle {
  border-radius:50%;
  background: darkslategrey;
  padding: 3%;
  width: 50%;
  margin: 20%;
}
.container {
display: flex;
justify-content: center;
background-color: gray;
}