#titulo{
    margin: 0 auto;
    text-align: center;
    display: block;
    font-size: 1em;
}
h1 {
    color: #ffffff;
}
h1:hover {
    color: #000000;
  }

.cita{
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
    width:30%;
    height:30%;
    display: block;
    color: #ffffff;
}
#centrado{
    text-align: center;
    margin: 0 auto;
}

.lista{
    text-align: left;
    margin: 0 auto;
    font-size: 1em;
    width:30%;
    height:30%;
}

#foto {
    margin: 0 auto;
    text-align: center;
    display: block;
    background-size: 100% auto;
    padding: 30px;
}
.imagen {
    width:20%;
    height:20%;
    border-radius:50%;
}

.mensaje {
    text-align: center;
    margin: 0 auto;
    display: block;
    width:30%;
    height:30%;
    color: #ffffff;
    font-size: 1em;
}
body {
    background: #FBA6C9;
}

footer{
    text-align: center;
    margin: 0 auto;
    display: block;
    width:30%;
    height:30%;
    font-size: 1em;
    padding: 30px;
}