/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap");
:root
body {
  background-color: #000000;
}
.contenedor {
  display: grid;
  grid-template-columns: 170px, 170px, 170px;
  grid-template-rows: 200px, 400px, 100px;
  max-width: 510px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
}
.imagen_contenedor {
  grid-column: 1/4;
  grid-row: 1/2;
}
.image_p {
  width: 100%;
}
.texto {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  font-family: "montserrat";
  color: #000000;
}
h3 {
  font-family: "montserrat";
  color: gray;
}
p {
  font-family: "playfair";
  color: rgb(57, 130, 255)
}
.read {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: rgb(57, 130, 255);
  color: #ffffff;
}
.views {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgb(57, 130, 255);
  color: #ffffff;
}
.comment {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: rgb(57, 130, 255);
  color: #ffffff;
}