/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap");
:root {
  /* Colors Palette */
  --primary-color: #ffffff;
  --secondary-color: #000000;
  --accent1-color: #ebbfd7;
  --accent2-color: #fbf0a4;
  --accent3-color: #c4edb3;
  --accent4-color: #a5deff;
  /* fonts */
  --heading-font: "Playfair Display";
  --paragraph-font: "Montserrat, Helvetica, sans-serif";
  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--secondary-color); /* headlines on a white background */ 
  --headline-color-on-color: var(--secondary-color); /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--secondary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: var(--primary-color); /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--secondary-color);
  --nav-hover-background-color: var(--primary-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}
body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--accent1-color);
    background-image: linear-gradient(90deg, var(--accent1-color), var(--accent2-color), var(--accent3-color), var(--accent4-color));
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
.header-grid {
    display: grid;
    text-wrap: wrap;
    grid-template-columns: max-content;
}
.header-1 {
    grid-column: 1/2;
}
.header-2{
    grid-column: 2/3;
    margin: 1px;
    background-color: var(--primary-color);
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: flex-start;
}
nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font);
}
.a-1{
    background-color: white;
    padding: 30px;
    margin: 1px;
}
.a-2{
    background-color: white;
    padding: 30px;
    margin: 1px;
}
.a-3{
    background-color: white;
    padding: 30px;
    margin: 1px;
}
/*...........................Footer.................................*/
footer p {
    font-size: 1.2em;
    text-align: center;
}
footer p a {
    color: #000000;
    text-decoration: none;
}
footer p a:hover {
    color: #ffffff;
    background-color: #000000;
    padding: 15px;
}
.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-icon {
    width: 80px;
    padding-top: 10px;
}
.footer-grid{
    display: grid;
}
.footer-1{
    grid-column: 1/2;
    background-color: var(--primary-color);
    margin: 1px;
}
.footer-2{
    grid-column: 2/3;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 20px;
}
.footer-3{
    grid-column: 3/4;
    background-color: var(--primary-color);
    margin: 1px;
}
/*........................Home Page Styles.............................*/
.imagen-main {
    width: 50%;
}
.main-home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* Ajustes Generales */
.img-projects {
    width: 100%;
}
main a {
    color: #000000;
    text-decoration: none;
}
main a:hover {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    text-decoration: none;
}
/* Titulo de la pagina */
/* Hello World*/
.main-1-element-home {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 1px;
}
/* Titulo de la pagina */
.main-2-element-home {
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: var(--primary-color);
    padding: 10px;
    margin: 1px;
}
/* Doma foto */
.main-3-element-home {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
/* doma content*/
.main-4-element-home {
    grid-row: 4/5;
    grid-column: 1/2;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;   
}
/* doma button*/
.main-5-element-home {
    grid-row: 5/6;
    grid-column: 1/2;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
/* My Hair Foto */
.main-6-element-home {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
.main-7-element-home {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
.main-8-element-home {
    grid-row: 5/6;
    grid-column: 2/3;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
/* Your Design Foto */
.main-9-element-home {
    grid-row: 3/4;
    grid-column: 3/4;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
.main-10-element-home {
    grid-row: 4/5;
    grid-column: 3/4;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
.main-11-element-home {
    grid-row: 5/6;
    grid-column: 3/4;
    background-color: var(--primary-color);
    margin: 1px;
    padding: 10px;
}
/*..........................About me styles..........................*/
.main-about-me {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px;
}
.main-1-element-about-me{
    background-color: var(--primary-color);
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 10px;
}
.main-2-element-about-me{
    background-color: var(--primary-color);
    grid-column: 3/5;
    grid-row: 1/2;
    margin: 10px;
}
.main-3-element-about-me{
    grid-column: 1/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    margin: 10px;
}
.img-about-me {
    max-width: 300px;
    border-radius:50%;
    background-color: var(--primary-color);
    margin: 10px;
  }
.main-4-element-about-me{
    background-color: var(--primary-color);
    grid-column: 1/3;
    grid-row: 3/6;
    margin: 10px;
}
.main-5-element-about-me{
    background-color: var(--primary-color);
    grid-column: 3/4;
    grid-row: 3/7;
    margin: 10px;
}
.main-6-element-about-me{
    background-color: var(--primary-color);
    grid-column: 4/5;
    grid-row: 3/7;
    margin: 10px;
}
.main-7-element-about-me{
    background-color: var(--primary-color);
    grid-column: 1/3;
    grid-row: 6/7;
    margin: 10px;
    overflow: hidden;
}
.img-gatito {
    width: 100%;
}
@media screen and (max-width: 900px) {
    .main-home {
        display: block;
        height: auto;
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
    .header-grid {
        display: flex;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }
}
