#content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}
section {
    width: 50%;
}
.block1 {
    border: 1px solid;
}
.block2 {
    border: 1px solid;
    margin: 0 auto; 
}
.block3 {
    border: 1px solid;
    margin-left: auto;
}
.block4 {
    border: 1px solid;
    margin: 0 auto;
}
.block4 p:nth-of-type(1) {
    text-align: right;
}
.block4 p:nth-of-type(2) {
    text-align: center;
}
.block4 p:nth-of-type(3) {
    text-align: left;
}
p:nth-of-type(1) {
    text-align: left;
}
p:nth-of-type(2) {
    text-align: center;
}
p:nth-of-type(3) {
    text-align: right;
}
